.SideDrawer {
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    background-color: #DCDCDC;
    padding: 32px 16px;
    box-sizing: border-box;
    transition: transform 0.5s ease-out;
    text-decoration: underline;
    display: flex;
    align-items: center;
    flex-direction: column;
}

@media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
}

.SideDrawer > button {
    border: black 1px solid;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 35px;
    align-self: flex-end;
}

.Open {
    transform: translateX(0);
}

.Close {
    transform: translateX(-100%);
}
